<%= form_for [:admin, @question] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.collection_select :category_id, @categories, :id, :name %>
  </div>
  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_fields", f: builder %>
  <% end %>
  <div class="actions">
    <p><%= link_to_add_fields t("add_answer"), f, :answers %></p>
    <%= f.submit t "create" %>
  </div>
<% end %>
