<div class="row well">
  <div class="col-md-5">
    <%= link_to question.name, admin_question_path(question) %>
  </div>
  <div class="col-md-2">
    <%= link_to edit_admin_question_path(question), class: "btn btn-info" do %>
      <span><%= t :question_edit %></span>
    <% end %>
    <%= link_to [:admin, question], method: :delete,
      data: {confirm: "warning"}, class: "btn btn-info" do %>
      <span><%= t :delete %></span>
    <% end %>
  </div>
</div>
