<h1><%= t :all_categories %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t("show"), category_path(category) %></td>
      </tr>
    <% end %>
    <%= will_paginate %>
  </tbody>
</table>
