<% provide :title, t("title.all_users") %>
<h1><%= t "title.all_users" %></h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
      <% unless user.is_admin? %>
        <%= "|" %>
        <%= link_to t("delete"), [:admin, user], method: :delete,
          data: {confirm: t("sure")} %>
      <% end %>
    </li>
  <% end %>
</ul>
